<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>net.twobbler.chandelier-webapp</string>
    <key>Debug</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
          <key>NetworkState</key>
          <true/>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/mat/src/chandelier_infohub/start.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
