{% extends 'base.html' %}

{% block title %}
    edit web preset
{% endblock title %}

{% block extra_head %}

<script type="text/javascript">




$(document).ready(function() {
    $("select").change(function(e) {
        var name = $(e.target).attr('name').substr(0,5);
        var selection = e.target.options[e.target.selectedIndex].value;
        $('input[name="'+name+'"]').attr('value', selection);
    });
});

</script>

{% endblock %}

{% block content %}
    <h1>Edit preset</h1>
    <div id="edit-web-preset">
        <form action="." method="POST">{% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" value="save preset">
        </form>
    </div>
{% endblock content %}
